/* Este arquivo vai resetar todas as configurações padrão dos elementos da webapp, por padrão os navegadores incluem margens, padding etc.. quando não definimos ao criar o elemento. Aqui tudo será resetado */

/* aqui vamos definir que todos os elementos (que é *) tenham margem = 0 */
* {
    margin: 0;
    border: none;
    padding: 0;
}

/* todo conteúdo na tag body utilizará a fonte Verdana, se não tiver.. utilizará sans-serif */ 
body {
    font-family: 'Verdana', sans-serif;
}

/* a é um link */
a {
    color: inherit; /* inherit pega a cor do pai */
    text-decoration: none; /* tira o sublinhado do link */

}

/* todas as listas */
ol, ul, li {
    list-style: none; /* remove os estilos da lista (1. 2. 3., a. b. c., etc...) */
}