/* Estilos dos cartões */

/* O Grupo abaixo são as cores dos cards */
[data-cardColor = first] { /* O colchetes indica que estamos pegando um atributo criado por mim */
    background-color: #45AAEE;
}

[data-cardColor = second] {
    background-color: #FF1010;
}

[data-cardColor = third]  {
    background-color: #76EF40;
}

[data-cardColor = fourth] {
    background-color: #EBEF40;
}

.card {
    display: inline-block; /* em fila mas cada elemento como um bloco */
    box-sizing: border-box;
    /* aqui eu escolho border-box porque eu quero que o padding seja considerado pro width, ou seja, não é 25% da pagina + padding o tamanho do card, e sim 25% de largura do card considerando margem e padding */
    padding: 16px;
    width: 25%; /* a largura de cada card será 25% da largura da janela */
    position: relative; 
    /* o padrao é static, agora como relative as bolinhas que são absolute ficarãom presas aqui dentro */    
}

.wrap-bolinhas { /* o termo wrap = empacotador */
    position: absolute; 
    /* a posição absoluta tira as bolinhas de dentro da nav, mas eu quero que a posicao delas respeitam o pai, que é o card (o li), então vou definir li como relative (o padrão é static, se o position for static as bolinhas não vao respeitar o pai) */
    top: -16px;
    left: 0; 
}

.bolinha {
    display: inline-block; /* somente inline as bolinhas perderiam seu padrao de altura e largura */
    width: 32px;
    height: 32px;
    text-indent: -9999px; /* esconde o texto da bolinha, a esquerda */
    overflow: hidden; /* mesmo se o texto nao fosse escondido, ele nao ultrapassaria o tamanho da bolinha */
    border-radius: 50%; /* transforma o quadrado em uma bolinha */
    border: 2px solid rgba(0, 0, 0, 0.5);
    /* borda da bolinha de 2px de espessura, solida, preta e 0.5 de transparencia */

}