/* Estilo do Form que adicionará novos cards */

.newCard {
    background-color: rgb(197, 197, 197);
    padding: 24px 127px;
    margin-bottom: 40px;
}

.newCard-content {
    display: block; /* porque eu quero cada objeto em uma linha diferente */
    margin-left: auto;
    margin-right: auto;
    width: 560px;
    height: 20px;
    padding: 10px;
    border: 1px solid #FFF;
    transition: height 0.2s linear, /* estou criando uma transição pra altura e borda, pra sempre que ela for alterada */
                border 0.5s linear;
    /* pra ocorrer a transição os elementos precisam estar declarados nos 2 objetos (no caso no textarea e no textarea:focus */
}

.newCard-content:focus { /* quando o textarea ganhar o foco, ele aplica o estilo */
    height: 150px;
    border: 1px solid #555;
}

.newCard-action {
    display: block; /* somente como block eu consigo usar o margon left e right para centralizar */
    font-size: 16px;
    width: 84px;
    height: 34px;
    margin-left: auto;
    margin-right: auto;
    background-color: #8272C7;
    cursor: pointer;
    margin-top: 20px;
}

